name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build
        run: npm run build

      - name: Tar dist folder
        run: tar -czf dist.tar.gz dist

      - name: Copy artifact to server
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.SERVER_IP }}
          username: xevrion
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "dist.tar.gz"
          target: "/home/xevrion/thy/dist.tar.gz"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: xevrion
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script_stop: true
          script: |
            cd /home/xevrion/thy

            # clean old build
            rm -rf dist

            # extract fresh build
            tar -xzf dist.tar.gz

            # fix structure: move generated dist/* into final dist/
            mkdir -p /home/xevrion/thy/dist
            mv /home/xevrion/thy/dist/* /home/xevrion/thy/dist 2>/dev/null || true

            # cleanup
            rm -rf dist.tar.gz

            # reload nginx
            sudo systemctl reload nginx
