name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build project
        run: npm run build

      # -----------------------------
      # STEP 1: CLEAN REMOTE DIST
      # -----------------------------
      - name: Clear remote dist folder
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: xevrion
          key: ${{ secrets.SSH_KEY }}
          script: |
            rm -rf /home/xevrion/thy/dist
            mkdir -p /home/xevrion/thy/dist

      # -----------------------------
      # STEP 2: UPLOAD FRESH BUILD
      # -----------------------------
      - name: Upload dist folder
        uses: appleboy/scp-action@v0.1.4
        with:
          host: ${{ secrets.HOST }}
          username: xevrion
          key: ${{ secrets.SSH_KEY }}
          source: dist/**
          target: /home/xevrion/thy/dist/

      # -----------------------------
      # STEP 3: RELOAD NGINX
      # -----------------------------
      - name: Reload Nginx
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.HOST }}
          username: xevrion
          key: ${{ secrets.SSH_KEY }}
          script: |
            sudo systemctl reload nginx
