name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install --legacy-peer-deps

      - name: Build project
        run: npm run build

      # -----------------------------
      # STEP 1: CLEAN REMOTE DIST
      # -----------------------------
      # - name: Clear remote dist folder
      #   uses: appleboy/ssh-action@v0.1.10
      #   with:
      #     host: ${{ secrets.SERVER_IP }}
      #     username: xevrion
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     script: |
      #       rm -rf /home/xevrion/thy/dist
      #       mkdir -p /home/xevrion/thy/dist

      # # -----------------------------
      # # STEP 2: UPLOAD FRESH BUILD
      # # -----------------------------
      # - name: Upload dist folder
      #   uses: appleboy/scp-action@v0.1.4
      #   with:
      #     host: ${{ secrets.SERVER_IP }}
      #     username: xevrion
      #     key: ${{ secrets.SSH_PRIVATE_KEY }}
      #     source: dist/**
      #     target: /home/xevrion/thy/dist/

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: xevrion
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            rm -rf /home/xevrion/thy/dist
            mkdir -p /home/xevrion/thy/dist

            cd /home/xevrion/thy

            # extract artifact INTO the project root, not inside dist/
            tar -xzf dist.tar.gz

            # artifact always contains a dist folder. So move it.
            mv dist/* /home/xevrion/thy/dist

            # cleanup nested dist that came from tar
            rm -rf dist
            rm dist.tar.gz


      # -----------------------------
      # STEP 3: RELOAD NGINX
      # -----------------------------
      - name: Reload Nginx
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: xevrion
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            sudo systemctl reload nginx