name: deploy-frontend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH into server & deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: xevrion
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script_stop: true
          script: |
            cd /home/xevrion/thy
            
            git pull
            
            npm install --legacy-peer-deps
            
            npm run build

            sudo systemctl reload nginx

            pm2 restart xevrion-backend
